<!--<nav id="header-main">-->
<!--  <ul>-->
<!--    <li class="header-right-part header-li-format"> <a href="" class="anchor-header-section"> Gerónimo Basso </a></li>-->
<!--    <li class="header-right-part header-li-format"> <a href="index.html" class="anchor-header-section"> Home </a></li>-->
<!--    <li class="header-right-part header-li-format"> <a href="#projects" class="anchor-header-section" > Projects</a></li>-->
<!--    <li class="header-right-part header-li-format"> <a href="" class="anchor-header-section">About </a></li>-->
<!--    <li class="header-right-part header-li-format"> <a href="#contact" class="anchor-header-section"> Contact </a></li>-->
<!--  </ul>-->
<!--</nav>-->

<button id="header-button-main">
    <img id="header-menu-image"src="/../../assets/images/menu-bar.png" alt="menu bar photo">
</button>