/*---------------------------------- General ----------------------- */

:root {
    --background-header: #ffffff;
    --background-body: #ffffff;
    --elements-color: #000000;
    --text-color: #000000;
    --button-color: #9333FF;
    --svg-color: #000000;
    --font-html: Garamond, serif;
    --font-titles: Helvetica , sans-serif;
}

html{
    font-family: var(--font-html);
    color: var(--text-color);
    background-color: var(--background-body);
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    color:var(--text-color);
    font-family: var(--font-titles);
    text-decoration: none; /* remove the underline */
    font-size: 50px;
}

h2{
    font-family: var(--font-titles);
    text-decoration: none; /* remove the underline */
    font-weight: normal;
    font-size: 28px;
}

p {
    font-size: 22px;
    line-height: 35px;
    margin-left: 50px;
    margin-right: 50px;
}

a {
    color: var(--text-color); /* set the color to black */
    text-decoration: none; /* remove the underline */
}

hr{
    margin: 25px;
}
  
svg{
    fill: var(--svg-color);
}

/*---------------------------------- Header ----------------------- */

.header{
    background-color: var(--background-header);
    color: var(--text-color);
    margin: auto;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
}

.header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header.sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.header-name-left{
    color: var(--text-color);
    float: left;
    margin-left: 50px;
}

.header-menu{
    display: inline-block;
    float: right;
    margin-right: 50px;
}

.header-links a{
    color: var(--text-color);
    display: inline-block;
    margin-right: 30px;
}

.header-menu span{
    display: block;
    background-color: var(--elements-color);
    width: 26px;
    height: 2px;
    margin: 6px;
}

/*---------------------------------- Main section ----------------------- */

main div.left{
    margin: 30px;
}

main div button{
    font-size: 20px;
}
  
#darkbutton{
    color:white;
    background-color: black;  
}
  
#lightbutton{
    color:black;
    background-color: white;
}

.profile-photo{
    border-radius: 50%;
    border:2px solid var(--elements-color);
}

/*---------------------------------- Projects section ----------------------- */

.grid-container {
    display: grid;
    grid-template-columns: auto;
}

.button-container{
    display: flex;
    justify-content: center;
}

.button-container button{
    background: var(--button-color);
    color: white;
    margin: 20px;
    height: 60px;
    width: 150px;
    border-radius: 10px;
    border: none;
    font-size: 22px;
}
.button-container button svg{
    fill: white;
}
/*---------------------------------- Footer ----------------------- */
footer{
    background-color: var(--background-body);
    padding: 10px;
    width: 100%;
}


footer div.last{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 30px;
}

footer div div.email{
    margin-top: 10px;
    font-size: 20px;
}

footer div span{
    color: var(--text-color);
    font-size: 22px;
}


/*---------------------------------- Media queries ----------------------- */
  
@media screen and (max-width: 899px) {

    .header-links {
        display: none;    
    }

}

@media screen and (min-width: 900px) {

    .header-menu {
        display: none;    
    }
    
}
