/*---------------------------------- General ----------------------- */

*{
    font-family: 'Roboto';
    font-style: normal;
    color: #ffffff;
    text-align: center;

}

body{
    background-color: #0D1117;
}

h1{
    color:#ffffff;
    text-decoration: none; /* remove the underline */
}

h2{
    color:#ffffff;
    text-decoration: none; /* remove the underline */
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
}

p {
    color:#ffffff;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    margin-left: 100px;
    margin-right: 100px;
}

a {
    color: #FFFFFF; /* set the color to black */
    text-decoration: none; /* remove the underline */
}

hr{
    margin: 50px;
}

/*---------------------------------- Header ----------------------- */
#header-button-main{
    background: transparent;
    height: 34px;
    width: 34px;
    border: none;
    position: relative;
    left: 150px;
}

#header-menu-image{
    background: transparent;
    height: 34px;
    width: 34px;
}


#header-span-name{
    position: relative;
    right: 150px;
    color: #FFFFFF;
    font-size: 21px;
}

/*---------------------------------- Home section ----------------------- */

#home-section#socials{
    width: 40px;
    height: 40px;
}

/*---------------------------------- Projects section main ----------------------- */

.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 50px;
    gap: 50px 50px;

}

.button-container{
    display: flex;
}

.button-container button{
    width: 150px;
    height: 49px;
    background: #9333FF;
    color: #ffffff;
    border-radius: 10px;
    font-size: 17px;
    border: none;
    align-content: center;
}



.button:hover{
    background-color: lightskyblue;
}

/*---------------------------------- Footer ----------------------- */
footer{
    background-color: #171717;
    padding: 10px;
    width: 100%;
}