/*---------------------------------- General ----------------------- */

html{
    font-family: 'Roboto';
    font-style: normal;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-color: #0D1117;
    text-align: center;
}

h1{
    color:#ffffff;
    text-decoration: none; /* remove the underline */
}

h2{
    text-decoration: none; /* remove the underline */
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
}

p {
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    margin-left: 100px;
    margin-right: 100px;
}

a {
    color: #FFFFFF; /* set the color to black */
    text-decoration: none; /* remove the underline */
}

hr{
    margin: 50px;
}

/*---------------------------------- Header ----------------------- */

.header{
    background-color: #000000;
    margin: auto;
    height: 50px;
    font-size: 24px;
}

.header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header.sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.header-name-left{
    float: left;
    margin-left: 50px;
}

.header-menu{
    display: inline-block;
    float: right;
    margin-right: 50px;
}

.header-menu span{
    display: block;
    background-color: white;
    width: 26px;
    height: 2px;
    margin: 6px;
}
/*---------------------------------- Home section ----------------------- */

#home-section#socials{
    width: 40px;
    height: 40px;
}

/*---------------------------------- Projects section ----------------------- */

.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 50px;
    gap: 50px 50px;

}

.button-container{
    display: flex;
}

.button-container button{
    width: 150px;
    height: 49px;
    background: #9333FF;
    color: #ffffff;
    border-radius: 10px;
    font-size: 17px;
    border: none;
    align-content: center;
}

.button-left{

    float: left;
    margin-left: 225px;
    margin-right: 10px;

}

.button-right{
    float: right;
    margin-right: 150px;
}


/*---------------------------------- Footer ----------------------- */
footer{
    background-color: #171717;
    padding: 10px;
    width: 100%;
}