---
const personalImageAlt = "Geronimo Basso Sosa"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
    <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
        <p>
            My name is Geronimo Basso Sosa. I began my tech journey with a strong interest in web design, and my passion
            quickly evolved towards artificial intelligence and machine learning.
        </p>

        <p>
            Currently, I am a <strong>final-year Software Engineering student at Universidad Europea de Madrid</strong>,
            graduating in June 2025. My goal is to develop intelligent, user-centric applications, blending design,
            functionality, and cutting-edge AI technologies.
        </p>

        <p>
            I have <strong>over three years of experience in web programming</strong>, focusing on advanced programming
            tasks, enhancing digital products, and ensuring high performance and reliability. At Koilab, I tackled
            complex features and technical issues on the WordPress (WooCommerce) platform using PHP.
        </p>

        <p>
            In addition to my technical experience, I <strong>served as a Student Ambassador at Universidad Europea de
            Madrid</strong>, guiding new students and offering career counseling. I am also a School Delegate and an
            active member of the Computer Science Club, participating in programming competitions and collaborative
            coding projects.
        </p>

        <p>
            <strong>Born in Uruguay 🇺🇾</strong>, I now reside in Madrid, Spain 🇪🇸. I am fluent in Spanish and hold a B2
            certification in English from Cambridge. My personal interests include entrepreneurship, coding, finance,
            investing, reading, sports, movies, and travel.
        </p>
    </div>

    <img width="200" height="200" src="/geronimo.webp" alt={personalImageAlt}
         class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 "
         style="object-position: 50% 50%">

</article>