---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCIE = [
    {
        date: "April 2024 - Present",
        title: "AI Researcher",
        company: "Universidad Europea de Madrid",
        description:
            "I am currently working on the AI4HyDrop project, a collaborative initiative uniting universities and companies from across Europe. Our focus is on developing an AI-based Holistic Dynamic Framework for safe drone operations in restricted and urban areas. In my role, I collaborate with esteemed professors from Universidad Europea de Madrid. My specific contributions include the development and implementation of Large Language Model (LLM) detection systems, which play a crucial role in enhancing the safety and efficiency of drone operations.",
        link: "https://ai4hydrop.eu"
    },
    {
        date: "March 2023 - January 2024",
        title: "Web Programmer",
        company: "Koilab",
        description:
            "Focus on advanced programming tasks, tackling more complex features and addressing challenging technical issues in the WordPress (WooCommerce) platform. Using PHP, I contribute to enhancing and developing sophisticated functionalities, ensuring high performance and reliability of our digital products.",
        link: "https://koilab.com"
    },
    {
        date: "February 2022 - February 2023",
        title: "Web Programming Intern",
        company: "Koilab",
        description:
            "Utilized PHP to maintain and enhance third-party plugins for the WordPress (WooCommerce) e-commerce platform. Involved in the development of new products and provided customer support, addressing queries and resolving issues to ensure a positive user experience and efficient problem resolution.",
    },
    {
        date: "February 2023 - Today",
        title: "Student Ambassador",
        company: "Universidad Europea de Madrid",
        description:
            "Engaged in guiding new students through campus tours and offering career counseling. Focused on fostering a welcoming environment for prospective students, helping them navigate and make informed decisions about their educational journeys and future careers.",
    },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
