---
const personalImageAlt = "Geronimo Basso Sosa"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/geronimo.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/geronimo-basso-sosa-04abb7230/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Software Engineer</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hi, I'm Geronimo
  </h1>
  <p class="mt-6 text-xl text-gray-800 dark:text-gray-300 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold">
    Over three years of experience in the field. Currently an AI researcher at
    <strong>
      <a href="https://universidadeuropea.com">Universidad Europea de Madrid</a>
    </strong>
    and a final-year Software Engineering student. Originally from Uruguay🇺🇾, now residing in Madrid 🇪🇸.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:geronimobasso@outlook.com">
      <MailIcon class="size-4" />
      Contact me
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/geronimo-basso-sosa-04abb7230/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
